
<div *ngIf="isLoading" class="loading-shades">
    <mat-spinner></mat-spinner>
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="guardarProgramacion($event)"
    [style.fontSize.px]="getFontSize()"
  >
    <mat-card>
      <mat-card-title>
        <h4 class="sub_title" *ngIf="idProgramacion === 0" style="margin: 0; font-size: 15px">
          Registrar 
        </h4>
        <h4 class="sub_title" *ngIf="idProgramacion > 0" style="margin: 0; font-size: 15px">
          Editar 
        </h4>
      </mat-card-title>
      <mat-card-content
        style="width: 100%"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayout="row"
        fxLayoutAlign="start start"
        fxLayoutGap="10px"
      >
        <div fxLayout.xs="row"
        fxLayout.sm="row"
        fxLayout="column"
        fxLayoutGap="10px">
          <!-- Codigo -->
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Id</mat-label>
            <input
              type="text"
              placeholder=""
              aria-label="codigo"
              matInput 
              formControlName="controlCodigo"
              readonly
            />
          </mat-form-field>

            <!-- tipo frecuencia -->
            <mat-form-field
            appearance="outline"
            fxFlex.xs="100"
            fxFlex.sm="100"
            fxFlex="10"
          >
            <mat-label>Tipo de frecuencia(*)</mat-label>
            <mat-select
              formControlName="tipoFrecuenciaSelect"
              (selectionChange)="selectedValueTipo($event)"
            >
              <mat-option *ngFor="let dato of listaconstante" [value]="dato.intId">
                {{ dato.strNombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
         
        </div>

        <div  fxLayout.xs="row"
        fxLayout.sm="row"
        fxLayout="column"
        fxLayoutGap="10px">

         <!-- Modulo -->
         <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Frecuencia</mat-label>
          <input
            type="number"
            placeholder=""
            aria-label="Frecuencia"
            matInput
            formControlName="controlFrecuencia"
          />
        </mat-form-field>

         <!-- Modulo -->
         <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Motivo</mat-label>
          <input
            type="text"
            placeholder=""
            aria-label="Motivo"
            matInput
            formControlName="controlMotivo"
          />
        </mat-form-field>

        </div>
        
        <div  fxLayout.xs="row"
        fxLayout.sm="row"
        fxLayout="column"
        fxLayoutGap="10px">
        

        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Fecha Inicio</mat-label>
          <input
            type="date"
            placeholder="Fecha inicio"
            aria-label="valor"
            matInput
            formControlName="controlFechaInic"
            
          />
          
        </mat-form-field>
        
          <!-- Fecha fin -->
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Fecha Fin C.</mat-label>
            <input
              type="date"
              placeholder="Fecha fin"
              aria-label="Fecha fin"
              matInput
              formControlName="controlFechaFin"
            />
          </mat-form-field>
 
        </div>
      <div
          fxLayout.xs="row"
          fxLayout.sm="row"
          fxLayout="column"
          fxLayoutGap="10px"
        >
       

          <button
          (click)="agregarProgramacion($event)"
          mat-flat-button
          type="button"
          color="primary"
        >
          Agregar
        </button>

          <button
            (click)="ocultarComponente()"
            mat-flat-button
            type="button"
            color="accent"
          >
            Cancelar
          </button>
        </div>
      </mat-card-content>
    </mat-card>


    <mat-card>
      <mat-card-title>
        <h4 class="sub_title"  style="margin: 0; font-size: 15px">
          Listado de programación 
        </h4>
      
      </mat-card-title>

      <mat-card-content
        style="width: 100%"
        fxLayout.xs="column"
        fxLayout.sm="column"
        fxLayout="row"
        fxLayoutAlign="start start"
        fxLayoutGap="10px"
      >
      <div fxLayout fxLayout.xs="row" fxLayoutAlign.xs="space-around stretch" fxLayoutGap.xs="1px" 
      fxLayoutGap="2px" fxLayoutAlign="space-between center" 
      fxFlexFill fxLayout.sm="row" fxLayoutAlign.sm="space-around stretch"
      fxLayoutGap.sm="10px">
      
      <!-- <table class="mat-elevation-z8 tableresponse"> 
        <thead>
          <tr>Tipo de frecuencia</tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of listaProgramacion_temp">
            <td> {{i.strNombreTipo}} </td>
          </tr>

        </tbody>

      </table> -->


      <div class="example-table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableresponse">
           
          <ng-container matColumnDef="id" width="10%">
                <th mat-header-cell *matHeaderCellDef>Id </th>
                <td mat-cell *matCellDef="let element">{{ element.intId }} </td>
          </ng-container>
           
            <ng-container matColumnDef="tipo" width="70%">
                <th mat-header-cell *matHeaderCellDef> Tipo de Frecuencia </th>
                <td mat-cell *matCellDef="let element"> {{ element.strNombreTipo }} </td>
            </ng-container>
           
            <ng-container matColumnDef="frecuencia" width="70%">
              <th mat-header-cell *matHeaderCellDef> Frecuencia </th>
              <td mat-cell *matCellDef="let element"> {{ element.intFrecuencia }} </td>
            </ng-container>

          <ng-container matColumnDef="inicio" width="70%">
            <th mat-header-cell *matHeaderCellDef> Inicio </th>
            <td mat-cell *matCellDef="let element"> {{ element.dtFechaInicio }} </td>
          </ng-container>

        <ng-container matColumnDef="fin" width="70%">
          <th mat-header-cell *matHeaderCellDef> Fin </th>
          <td mat-cell *matCellDef="let element"> {{ element.dtFechaFin }} </td>
      </ng-container>

      <ng-container matColumnDef="motivo" width="70%">
        <th mat-header-cell *matHeaderCellDef> Motivo </th>
        <td mat-cell *matCellDef="let element"> {{ element.strMotivo }} </td>
    </ng-container>

            <ng-container matColumnDef="accion" width="5%" >
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acciones </th>
                
                <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                   
                    <button (click)="Elminar_temp(element)"><mat-icon>delete</mat-icon></button> </td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div *ngIf="!dataSource.data.length" style="border: solid 0px;padding: 10px;">
        <div style="text-align: center;">
            <div class="text-info">
                <div style="color:#BDBDC4; font-size: 20px;">No se encontraron registros.</div>
            </div>
        </div>
    </div>




      </div>
      </mat-card-content>

    </mat-card>

    <div>
      <button mat-flat-button type="submit" color="primary">
        Guardar
      </button>
    </div>
  </form>
  
