<button mat-mini-fab color="primary" aria-label="Volver" (click)="Cancelar()">
  <mat-icon>arrow_back</mat-icon>
</button>
<div style="text-align: center"><h1>ASIGNAR PERFIL</h1></div>
<br />
<!--
 -->
<form
  class="example-form"
  [formGroup]="formPrincipal"
  (ngSubmit)="Guardar()"
  [style.fontSize.px]="getFontSize()"
>
  <div *ngIf="isLoadingResults" fxLayout="row" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
  </div>

  <div
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign.xs="space-around center"
    fxLayoutGap.xs="1px"
    fxLayoutGap="2px"
    fxLayoutAlign="space-between center"
    fxFlexFill
    fxLayout.sm="column"
    fxLayoutAlign.sm="space-around stretch"
    fxLayoutGap.sm="1px"
  >
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>ID Usuario </mat-label>
      <input
        type="text"
        placeholder="id"
        matInput
        maxlength="100"
        formControlName="strIdUsuario"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Login</mat-label>
      <input
        type="text"
        placeholder="Login"
        matInput
        maxlength="100"
        formControlName="strLogin"
      />
    </mat-form-field>
  </div>

  <div
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign.xs="space-around center"
    fxLayoutGap.xs="1px"
    fxLayoutGap="2px"
    fxLayoutAlign="space-between center"
    fxFlexFill
    fxLayout.sm="column"
    fxLayoutAlign.sm="space-around stretch"
    fxLayoutGap.sm="1px"
  >
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Nombres</mat-label>
      <input
        type="text"
        placeholder="Nombres"
        matInput
        maxlength="100"
        formControlName="strNombres"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Apellidos</mat-label>
      <input
        type="text"
        placeholder="Apellidos"
        matInput
        maxlength="100"
        formControlName="strApellidos"
      />
    </mat-form-field>
  </div>

  <div
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign.xs="space-around center"
    fxLayoutGap.xs="1px"
    fxLayoutGap="2px"
    fxLayoutAlign="space-between center"
    fxFlexFill
    fxLayout.sm="row"
    fxLayoutAlign.sm="space-around stretch"
    fxLayoutGap.sm="1px"
  >
    <mat-form-field appearance="outline" style="width: 80%">
      <mat-label>Perfil(*)</mat-label>
      <mat-select formControlName="controlPerfil">
        <mat-option>ELEGIR</mat-option>
        <mat-option *ngFor="let option of listaPerfil" [value]="option"
          >{{ option.strNombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />
    <br />
    <label>(*)Campo obligatorio</label>
    <br />
    <br />
  </div>

  <div
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign.xs="space-around center"
    fxLayoutGap.xs="1px"
    fxLayoutGap="2px"
    fxLayoutAlign="center end"
    fxFlexFill
    fxLayout.sm="column"
    fxLayoutAlign.sm="space-around stretch"
    fxLayoutGap.sm="1px"
  >
    <button
      mat-flat-button
      type="submit"
      color="primary"
      [disabled]="soloLectura"
    >
      <mat-icon>save</mat-icon> <span>Guardar</span>
    </button>
    <button mat-flat-button type="button" color="accent" (click)="Cancelar()">
      <span>Cancelar</span>
    </button>
  </div>
</form>
