<!-- <div *ngIf="cargando === true">
  <mat-spinner></mat-spinner>
</div> -->
<form
  [formGroup]="form"
  (ngSubmit)="guardar()"
  [style.fontSize.px]="getFontSize()"
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  fxLayoutGap=""
>
  <!-- Id-->
  <div fxLayout="row">
    <mat-form-field appearance="outline" fxFlex="20">
      <mat-label>Id</mat-label>
      <input
        type="number"
        placeholder="Id"
        matInput
        formControlName="id"
        readonly
      />
    </mat-form-field>
  </div>
  <!-- Descripcion -->
  <div fxLayout="row">
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Descripción(*)</mat-label>
      <input
        id="controlDescripcion"
        type="text"
        placeholder="Digite Descripcion"
        matInput
        formControlName="descripcion"
      />
    </mat-form-field>
  </div>
  <!-- N° Serie y Codigo Sitec -->
  <div
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayout="row"
    fxLayoutAlign.xs="start stretch"
    fxLayoutAlign.sm="start stretch"
    fxLayoutAlign="start center"
    fxLayoutGap.xs="1px"
    fxLayoutGap.sm="1px"
    fxLayoutGap="20px"
  >
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>N° Serie(*)</mat-label>
      <input
        type="text"
        placeholder="Digite N° Serie"
        matInput
        formControlName="serie"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Codigo SITEC</mat-label>
      <input
        type="text"
        placeholder="Digite Código SITEC"
        matInput
        formControlName="codigoSitec"
      />
    </mat-form-field>
  </div>
  <!-- Tipo Equipo -->
  <div
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayout="row"
    fxLayoutAlign.xs="start start"
    fxLayoutAlign.sm="start start"
    fxLayoutAlign="start center"
    fxLayoutGap.xs="1px"
    fxLayoutGap.sm="1px"
    fxLayoutGap="20px"
  >
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Tipo</mat-label>
      <input
        type="text"
        placeholder="Seleccione tipo equipo"
        aria-label="Equipo"
        matInput
        formControlName="tipoActivoSelectAC"
        [matAutocomplete]="tipoActivoAutocomplete"
      />
      <mat-autocomplete
        #tipoActivoAutocomplete="matAutocomplete"
        [displayWith]="mostrarNombreTipoActivoSelect"
        (optionSelected)="onSelectionChange($event)"
      >
        <mat-option
          *ngFor="let tipo of listaTipoActivoFiltrada | async"
          [value]="tipo"
        >
          {{ tipo.strValor }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    Código(*)
  </div>
  <!-- Nivel 0 y 1 / Nivel 2 y 3 -->
  <div
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayout="row"
    fxLayoutAlign.xs="start stretch"
    fxLayoutAlign.sm="start stretch"
    fxLayoutAlign="start center"
    fxLayoutGap.xs="1px"
    fxLayoutGap.sm="1px"
    fxLayoutGap="20px"
  >
  <div fxFlex>
    <div fxLayout="row" class="row-no-botttom">
      <mat-form-field appearance="outline" fxFlex="95" class="no-bottom">
        <mat-label>Nivel 0 y 1</mat-label>
        <input
          type="text"
          placeholder="Seleccione Nivel 0 y 1"
          matInput
          formControlName="nivel01"
        />
      </mat-form-field>
      <button type="button" (click)="desplegarUbicacionTecnica()" fxFlex>
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="row" class="row-no-botttom">
      <mat-form-field appearance="outline" fxFlex="95" class="no-bottom">
        <mat-label>Nivel 2 y 3</mat-label>
        <input
          type="text"
          placeholder="Seleccione Nivel 2 y 3"
          matInput
          formControlName="nivel23"
        />
      </mat-form-field>
      <button type="button" (click)="desplegarEquipo()" [disabled]="isDisabledBotonEquipo">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>


  </div>
  <!-- Marca / Modelo -->
  <div
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayout="row"
    fxLayoutAlign.xs="start stretch"
    fxLayoutAlign.sm="start stretch"
    fxLayoutAlign="start center"
    fxLayoutGap.xs="1px"
    fxLayoutGap.sm="1px"
    fxLayoutGap="20px"
  >
  <mat-form-field appearance="outline" fxFlex>
    <mat-label>Marca</mat-label>
    <input
      type="text"
      placeholder="Marca"
      matInput
      readonly
      formControlName="marca"
    />
  </mat-form-field>

    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Modelo</mat-label>
      <input
        type="text"
        placeholder="Digite Modelo"
        matInput
        formControlName="modelo"
      />
    </mat-form-field>
  </div>
  <!-- Estado -->
  <div
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayout="row"
    fxLayoutAlign.xs="start start"
    fxLayoutAlign.sm="start start"
    fxLayoutAlign="start center"
  >
    <mat-slide-toggle formControlName="estado" color="primary">
      Estado
    </mat-slide-toggle>
  </div>
  <!-- Leyenda Campos Obligatorios   -->
  <div>(*)Campo obligatorio</div>
  <!-- Botonera -->
  <div
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayout
    fxLayoutAlign.xs="space-around stretch"
    fxLayoutAlign.sm="space-around stretch"
    fxLayoutAlign="center end"
    fxLayoutGap.xs="10px"
    fxLayoutGap.sm="10px"
    fxLayoutGap="2px"
    fxFlexFill
  >
    <button mat-flat-button type="submit" color="primary" [disabled]="soloLectura">
      <mat-icon>save</mat-icon> <span>Guardar</span>
    </button>
    <button mat-flat-button type="button" color="accent" (click)="cancelar()">
      <span>Cancelar</span>
    </button>
  </div>
</form>
